body {
    margin: 0;
    backdrop-filter: 40px;
    position: relative;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.contato-container {
    backdrop-filter: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

.localizacao,
.numero-telefone,
.email {
    width: 400px;
    margin: 10px;
    background-color: #76AA3E;
    text-align: center;
    border-radius: 18px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.404);
}

.rodape-container {
  margin-top: 290px;
}

