body {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
}

html {
  background-color: #a3d072;
  background-image: url("../assets/svg/background.svg");
  background-size: 100%;
  max-width: 100%;
}

.menu {
  padding: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-logo {
  padding-left: 70px;
  position: relative;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  padding-right: 70px;
  font-size: 18px;
}

.menu-nav ul li a {
  text-decoration-line: none;
  transition: 0.2s;
  color: #000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.menu-nav ul li a:hover {
  content: "";
  color: #76aa3e;
}

.menu-nav li {
  margin: 0px;
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.introducao {
 font-size: 30px;
}

h1 {
  display: block;
  margin: 0 auto;
  padding-bottom: 50px;
  width: fit-content;
  border-bottom: 2px solid;
}

p {
  font-size: 20px;
}

.sobre-img {
  margin-top: 40px;
  box-shadow: 0 0 0 10px #107933a5;
  border-radius: 50%;
}

.sobre {
  display: block;
  text-align: center;
  font-size: 40px;
}

.container-sobre {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo-container {
  margin: 0 6%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.conteudo {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.imagem-conteudo {
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.4));
}

.rodape-container {
  margin-top: 5rem;
  background-color: #76aa3e;
  padding: 10px;
}

.rodape-container p {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.conteudo {
  margin: 0 7%;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.imagem {
  width: 350px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}

.container-lendas {
  margin:  0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.card-lendas {
  display: flex;
  gap: 5rem;
}

.imagem-lenda {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}

#linha-horizontal {
  width: 920px;
  border: 1px solid #000;
}

.principal {
  font-size: 50px;
  color: #232423;
  text-align: center; 
}

.introducao-institutos p, .introducao-lendas p, .introducao-curiosidades p {
 font-size: 23px;
}

