.container-lendas {
  margin:  0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.card-lendas {
  display: flex;
  gap: 5rem;
}

.imagem-lenda {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}

#linha-horizontal {
  width: 920px;
  border: 1px solid #000;
}

.container-lendas h1{
  color: #232423;
  text-align: center; 
}

.container-lendas p {
  font-size: 23px;
}
