body {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
}

html {
    background-color: #A3D072;
    background-image: url('../assets/svg/background.svg');
    background-size: 100%;
    max-width: 100%;
}


.menu {
    margin-top: 10px;
    padding: 18px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.menu-logo {
    padding-left: 70px;
    position: relative;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap ;
    padding-right: 70px;
    font-size: 18px;
}

.menu-nav ul li a {
    text-decoration-line: none;
    color: #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.menu-nav ul li a:hover {
    content: '';
    color: #76AA3E;
} 

.menu-nav li {
    margin: 0px;
	font-size: 1.25em;
	display: block;
	padding: 10px;
}


.introducao {
    position: relative;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 20px;
}

.sobre-img {
    margin-top: 40px;
    box-shadow: 0 0 0 10px #107933a5;
    border-radius: 50%;
    
}

/* .sobre-img:hover
{
  
    box-shadow: 0 0 0 10px #107933a5;
} */

.sobre  {
    display: block;
    text-align: center;
    font-size: 40px;
}


.container-sobre {
   display: flex;
   align-items: center;
   justify-content: center;
}

.benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
  }
  
  .container-benefits {
    max-width: 70vw;
    display: flex;
    flex-direction: column;
  
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 3rem 0 3rem;
  }
  
  .container-benefits p {
    max-width: 30rem;
  }
  
  .image-volei,
  .image-musculacao,
  .image-corrida {
    max-width: 80vw;
    width: 250px;
    height: 250px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .image-volei {
    background-image: url("../assets/volei_home.png");
  }
  
  .image-musculacao {
    background-image: url("../assets/musculacao_home.png");
  }
  
  .image-corrida {
    background-image: url("../assets/corrida_home.png");
  }
  







